<mat-card class="artist-card">
    <mat-card-header>
      <div mat-card-avatar class="artist-card-header-image"
        [style.background-image]="'url(' + artist?.picture_small + ')'"></div>
      <mat-card-title>{{artist?.name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="{{artist?.picture_medium}}" alt="{{artist?.name}}">
    <mat-card-actions>
      <div class="card-actions">
        <ng-container *ngIf="artist?.nb_fan">
          <mat-basic-chip>{{artist?.nb_fan}} Fans</mat-basic-chip>
        </ng-container>
        <ng-container *ngIf="displayAlbumCount && artist?.nb_album">
          <mat-basic-chip>{{artist?.nb_album}} Albums</mat-basic-chip>
        </ng-container>
        <button mat-button>View</button>
      </div>
    </mat-card-actions>
</mat-card>