.heading {
    margin: 0.1em auto;
    text-align: center;
}

.editorial-container {
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    flex-wrap: wrap;
    margin: 1em auto;
    justify-content: space-evenly;
}
